.App {
  text-align: center;
  // background-color: #f5f2ea;
 // height: 100vh;
}
 

@media only screen and (max-width: 719px) {
  

  .header-container {
    padding: 15px 30px !important;
 
    .mobile-menu {
      display: block !important;

      .dropdown {
        .btn {
          outline: 0;
          box-shadow: none;
        }

        hr {
          border-bottom: 2px solid black;
          width: 20px;
          margin: 5px 0;
        }

        .dropdown-menu {
          min-width: 350px;

          .dropdown-item:hover,
          .dropdown-item:focus {
            background-color: #e7f1ff;
          }
        }
      }

      .dropdown-toggle::after {
        display: none;
      }
    }
  }
} 

.mobile-menu {
  display: none;
}
 

.menu-options-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  div {
    margin: 0px 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 600px;

    span {
      color: black;
      padding-bottom: 4px;
    }
  }

  div:hover {
    span {
      color: black;
      border-bottom: 1px solid black;
    }
  }
}
 

.logo-design {
  border-bottom: "1px solid black";
  font-size: "25px";
}
  

.report-list-table {
  th {
    cursor: pointer;

    img {
      width: 12px;
      margin-left: 3px;
    }
  }
}

.page-card {
  padding: 35px 35px 35px 35px;
  // border: none;
  // min-width: 100%;
  // margin-top: 5px;
  // overflow-y: auto;
  // box-shadow: 0 2px 6px -1px #29345c;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  // border-radius: 25px;
}
 
.report-card {
  width: 100%;
}

.spinner-button {
  margin-right: 7px;
}

.ant-picker {
  //margin-bottom: 20px;
  padding: 0.365rem 0.65rem;
  font-size: 0.9rem;
  border-radius: 0.35rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  height: 40px;
  text-align: left;
  width: 100%;
}


// @import "~bootstrap/scss/bootstrap";